<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vuejs do jeito ninja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <ul>
            <li v-for="item in linguagens">
                {{ item.nome }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(item, index) in linguagens">
                {{ index }} - {{item.nome}}
            </li>
        </ul>
    </div>
</body>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            titulo: "Vuejs do jeito ninja",
            linguagens: [
                { nome: "Javascript" }, { nome: "PHP" }, { nome: "C#" }, { nome: "Java" }, { nome: "Phyton" }
            ]
        }
    })
</script>

</html>